*.pth filter=lfs diff=lfs merge=lfs -text
pscr_point_cloud_city/checkpoints/kpfcnn_pcc_ckpt_torch.zip filter=lfs diff=lfs merge=lfs -text
pscr_point_cloud_city/checkpoints/kpfcnn_enfield_ckpt_torch.zip filter=lfs diff=lfs merge=lfs -text
